.saveButton {
    padding: 0 22px 0;
    color: #0D2D3D;
    background: linear-gradient(270deg, rgba(247, 169, 6, 1), rgba(255, 203, 5, 1));
    border: none;
    border-radius: 6px;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    line-height: 20px;
}